Source: ros-jade-pyzmp
Section: misc
Priority: extra
Maintainer: AlexV <asmodehn@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-pytest, python-zmq, ros-jade-catkin (>= 0.6.18), ros-jade-catkin-pip (>= 0.1.9)
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-pyzmp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-zmq
Description: Python Multiprocess Management Framework, based on ZeroMQ communication
